body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }


#toggle {
    width : 100vw;
    position : absolute; 
    text-align: center;
}

.select {
    margin-left: 2%;
    font-size: 12px;
}

.gridMui{
    margin : 5%;
    margin-left: 10%;
}

#prodTitle,#firstPart{
    display : flex;
    justify-content: space-between;
}


