
#login {
    color : white;
    font-size: 12;
    text-decoration: underline;
    text-transform: capitalize;
}


#home , #addProduct {
    color : white;
    font-size: 12;
    text-decoration: underline;
    text-transform: capitalize;
}
#signUp {
    color : white;
    font-size: 12;
    text-decoration: underline;
    text-transform: capitalize;
}


#logout{
    background-color: red;
    color : white;
}

.leftMost{
    display : flex;
    justify-content: center;
    align-items: center;
}