.signup {
    width : 100vw;
    position : absolute; 
    text-align: center;
    /* /* top : 30% */
    
}

#signInLabel{
    color : black;
    font-weight: bold;
    font-size: x-large;
}

/* #signUpLink{
    font-size: small;
    position : absolute;
    top : 72%;
    left : 41%;
} */

#signInLink{
    font-size: small;
    text-align: right;
}

#footer{
    width : 100vw;
    position : absolute;
    bottom : 1%;
    text-align: center;
    font-size: small;
}

#errorMsg{
    color : red;
    font-weight: bolder;
}

#successMsg{
    color : green;
    font-weight: bolder;
}